<h1>About</h1>

<div style="float: left; clear: left; margin-right: 20px; margin-bottom: 20px" >
<%= image_tag('PersonalPicture.jpeg', size: '200x251') %>
</div>

  My name is Tyler Dailey, I'm 22 years old, and I'm currently a Junior in the Computer Science Program at the University
  of Utah. My career interests lie in the fields of web and mobile development, as well as encryption and network security.
  I also work as a Teaching Assistant for the Introduction to Object-Oriented Programming Course at the University of Utah.
  When I'm not busy working on school, or work, I enjoy: working on my personal programming projects, watching the Utah Jazz,
  playing basketball, and hanging out with family and friends.
