<body class="splash">
<center><p style="font-size: 500%">Tyler Dailey</p></center>
<br>
<br>
<br>
<br>
<center><p style="font-size: 700%; vertical-align: center">Software Engineer</p></center>

</body>
