<h1>My Personal Projects</h1>

<div id="parent">
  <div, id="project1">
    <h3>Sprite Editor</h3>
    <div style="float: left; clear: left; margin-right: 20px; margin-bottom: 20px" >
      <%= video_tag('sprite.mp4', :size => '467x350', :controls => true) %>
    </div>
    <br>
    <br>
      This project was created in C++, using the Qt framework, and the Qt Creator IDE.
      It's main purpose was to provide a simple, yet feature-rich sprite editor. Some of it's main features are:
      <div style="float: left; margin-top: 10px; margin-left: 10px">
        <ul>
          <li>Ability to export as an animated .gif file.</li>
          <li>Custom file format that allows saving and loading projects.</li>
          <li>Custom Stamp Tool</li>
          <li>Undo/Redo</li>
          <li>Free-flowing drawing tool, line, square, oval tools.</li>
          <li>Rotate and mirror functions.</li>
          <li>Animation Preview, and popup window.</li>
          <li>Color Picker</li>
          <li>Eraser Tool</li>
          <li>Width Adjustments</li>
          <li>Add/Delete Frames</li>
        </ul>
      </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div style="margin-top: 50px", id="project2">
    <h3>Battleship iOS App</h3>
    <div style="float: left; clear: left; margin-right: 20px; margin-bottom: 20px" >
      <%= video_tag('battleship2.mov', :size => '260x480', :controls => true) %>
    </div>

    This application was developed in Swift for iOS 10, using the XCode IDE. It
    is suited for any iOS Device, iPad 5 up through iPad Pro 12.9". It represents
    the classic 2-player game where players alternate taking turns launching missiles at
    the other player's board until all 5 ships on one player's board have been sunk.
    Some key elements of the application are:
    <div style="float: left; margin-top: 10px; margin-left: 10px">
      <ul>
        <li>Saves the application state even if the app is closed down and restarted.</li>
        <li>When a player takes a shot, they alerted as to whether the result was a hit/miss/sunk ship.</li>
        <li>Application randomly generates a valid board upon game creation.</li>
        <li>Once the game has been completed, both player's boards are completely visible, however all <br> buttons become disabled.</li>
        <li>Rotation has been disabled due to the fact that when the screen is in landscape orientation, <br> there isn't enough room to properly display the boards.</li>
        <li>Ability to add/delete games.</li>
        <li>A list of all active games is displayed from the main screen.</li>
      </ul>
    </div>
  </div>
</div>
