<h1>Resumé</h1>
<p>I am currently a Junior in the Computer Science Department at the University of Utah. To download a PDF version of this
  resume, click <%= link_to 'here', download_pdf_path %>. If you have any questions
    send me a message at: <%= mail_to('tkdailey11@gmail.com', 'tkdailey11@gmail.com', subject: 'Sent From Website') %>.</p>

<div class="Skills">
  <div class="Skills1">
    <h3>Programming Languages:</h3>
    <ul>
      <li>Swift</li>
      <li>C++</li>
      <li>Qt</li>
      <li>C#</li>
      <li>Java</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Ruby on Rails</li>
      <li>MySQL</li>
      <li>R</li>
    </ul>
  </div>

  <div class="Skills2">
    <h3>Programming Environments:</h3>
    <ul>
      <li>XCode</li>
      <li>Visual Studio</li>
      <li>QtCreator</li>
      <li>Eclipse</li>
      <li>IntelliJ</li>
      <li>Emacs</li>
      <li>RubyMine</li>
      <li>Atom</li>
      <br>
      <br>
    </ul>
  </div>

  <div class="Skills3">
    <h3>Work Environments:</h3>
    <ul>
      <li>OSX</li>
      <li>iOS</li>
      <li>Windows</li>
      <li>Linux</li>
      <li>Unix Terminal</li>
    </ul>
  </div>

  <div class="Skills4">
    <h3>Courses Taken:</h3>
    <ul>
      <li>Mobile Application Development</li>
      <li>Web Software Architecture</li>
      <li>Data Structures</li>
      <li>Algorithms</li>
      <li>Software Practice I/II</li>
      <li>Computer Organization</li>
      <li>Probability and Statistics for Engineers</li>
      <li>Discrete Structures</li>
      <li>Linear Algebra</li>
    </ul>
  </div>
</div>