<h1>Resumé</h1>
<p>I am currently a Junior in the Computer Science Department at the University of Utah. To download a PDF version of this
  resume, click <%= link_to 'here', download_pdf_path %>. If you have any questions
    send me a message at: <%= mail_to('tkdailey11@gmail.com', 'tkdailey11@gmail.com', subject: 'Sent From Website') %>.</p>

<div class="Skills">
  <div class="Skills1">
    <h3>Programming Languages:</h3>
    <ul>
      <li><a href="https://swift.org/" target="_blank">Swift</a></li>
      <li><a href="http://www.geeksforgeeks.org/c-plus-plus/" target="_blank">C++</a></li>
      <li><a href="https://www.qt.io/" target="_blank">Qt</a></li>
      <li><a href="https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx" target="_blank">C#</a></li>
      <li><a href="https://www.oracle.com/java/index.html" target="_blank">Java</a></li>
      <li><a href="https://www.w3schools.com/html/" target="_blank">HTML</a></li>
      <li><a href="https://www.w3schools.com/css/default.asp" target="_blank">CSS</a></li>
      <li><a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a></li>
      <li><a href="https://www.mysql.com/" target="_blank">MySQL</a></li>
      <li><a href="https://cran.r-project.org/" target="_blank">R</a></li>
    </ul>
  </div>

  <div class="Skills2">
    <h3>Programming Environments:</h3>
    <ul>
      <li><a href="https://developer.apple.com/xcode/" target="_blank">XCode</a></li>
      <li><a href="https://www.visualstudio.com/" target="_blank">Visual Studio</a></li>
      <li><a href="https://www.qt.io/ide/" target="_blank">QtCreator</a></li>
      <li><a href="https://eclipse.org/" target="_blank">Eclipse</a></li>
      <li><a href="https://www.jetbrains.com/idea/" target="_blank">IntelliJ</a></li>
      <li><a href="https://www.jetbrains.com/ruby/" target="_blank">RubyMine</a></li>
      <li><a href="https://www.gnu.org/software/emacs/" target="_blank">Emacs</a></li>
      <li><a href="https://atom.io/" target="_blank">Atom</a></li>
      <br>
      <br>
    </ul>
  </div>

  <div class="Skills3">
    <h3>Work Environments:</h3>
    <ul>
      <li><a href="http://www.apple.com/macos/sierra/" target="_blank">OSX</a></li>
      <li><a href="http://www.apple.com/ios/ios-10/" target="_blank">iOS</a></li>
      <li><a href="https://www.microsoft.com/en-us/windows/features" target="_blank">Windows</a></li>
      <li><a href="https://www.ubuntu.com/" target="_blank">Linux - Ubuntu</a></li>
      <li><a href="https://www.davidbaumgold.com/tutorials/command-line/" target="_blank">Unix Terminal</a></li>
    </ul>
  </div>

  <div class="Skills4">
    <h3>Courses Taken:</h3>
    <ul>
      <li>Mobile Application Development</li>
      <li>Web Software Architecture</li>
      <li>Data Structures</li>
      <li>Algorithms</li>
      <li>Software Practice I/II</li>
      <li>Computer Organization</li>
      <li>Probability and Statistics for Engineers</li>
      <li>Discrete Structures</li>
      <li>Linear Algebra</li>
    </ul>
  </div>
</div>